/*
STYLE.CSS
Custom CSS File separate from Bootstrap. 
3/16/2016 Created?
*/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#main-header {
    /*background-image: url('../images/header_images/header2.jpg');*/
    color: #eeeeee;
    background-size: 100%;
    background-position: center;
}

.logo {
    float:left;
    margin:10px;
    fill:#aa0000;
    transition:300ms;
}

.logo:hover {
    fill:#cc0000;
    transition:300ms;
}


.caption-full, .ratings {
    padding: 5px 20px;
}

#article-header {
    padding-top: 20px;
}

/*
sub-category class
works with bootstrap's list group to create an accordion
*/
.sub-category {
    margin:0px;
}

.sub-category > .list-group-item{
    background-color: #eeeeee;
    border-radius: 0px;
    border-bottom: none;
}

.sub-category > .list-group-item:hover{
    background-color: #dddddd;
}

#world-name, #world-creator {
    margin-bottom: 0px;
}

#user-info {
    padding:20px 5px 20px 5px;
}

#user-icon > img{
    border-radius:10px;
}

.detail-block {
    margin-bottom: 5px;
    color: #aaaaaa;
}

.detail-block > svg{
    float: left;
    margin-right: 5px;
}

.detail {
    margin: 2px;
}

.slick-prev:before, .slick-next:before { 
    color:#aaaaaa !important;
    font-size: 30px !important;
    position: absolute !important;
    top: -300%;
    right: -5px;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
    text-align: center !important;
}

@media screen and (max-width: 767px) {
    #main-header {
        background-size: auto 100%;
    }
}