/*
STYLE.CSS
Custom CSS File separate from Bootstrap. 
3/16/2016 Created?
*/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#main-header {
    /*background-image: url('../images/header_images/header2.jpg');*/
    color: #eeeeee;
    background-size: 100%;
    background-position: center;
}

.logo {
    float:left;
    margin:10px;
    fill:#aa0000;
    transition:300ms;
}

.logo:hover {
    fill:#cc0000;
    transition:300ms;
}


.caption-full, .ratings {
    padding: 5px 20px;
}

#article-header {
    padding-top: 20px;
}

/*
sub-category class
works with bootstrap's list group to create an accordion
*/
.sub-category {
    margin:0px;
}

.sub-category > .list-group-item{
    background-color: #eeeeee;
    border-radius: 0px;
    border-bottom: none;
}

.sub-category > .list-group-item:hover{
    background-color: #dddddd;
}

#world-name, #world-creator {
    margin-bottom: 0px;
}

#user-info {
    padding:20px 5px 20px 5px;
}

#user-icon > img{
    border-radius:10px;
}

.detail-block {
    margin-bottom: 5px;
    color: #aaaaaa;
}

.detail-block > svg{
    float: left;
    margin-right: 5px;
}

.detail {
    margin: 2px;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
    text-align: center !important;
}

#logo {
    height: 30px;
    width: 30px;
    margin: 10px;
}

@media screen and (max-width: 767px) {
    #main-header {
        background-size: auto 100%;
    }
    
    .carousel {
        width: 100% !important;
        float: none !important;
        margin: 0 auto !important;
        /*text-align: center !important;*/
    }    
    
    .carousel-cell {
        width: 100% !important;
    }
    
    .flickity-prev-next-button {
        display: none;
    }
}

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

.carousel {
    height: 340px;
    width: 1170px;
}

.carousel-cell {
    width: 33.3333333333333333333333333333333333333333333333333333333333333333%;
}

.navbar-inverse .navbar-nav>li>button {
    color: #9d9d9d;
    background: transparent;
    border: none;
}

.navbar-nav>li>button {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>button {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-inverse .navbar-nav>li>button:focus, .navbar-inverse .navbar-nav>li>button:hover {
    color: #fff;
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-nav>li>button {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.onlineUser {
    margin:3px;
    float: left;
    display: block;
    background-color: #dddddd;
}