<!-----------------------------------------------
ARTICLE.HTML
World article template based on templates by Start
Bootstrap. Contains a summary of the world, a navigation
of all available categories/articles for the session user,
and the article content.
3/16/16 Created
------------------------------------------------>

{% extends "display.html" %}

{% block stuff %}
<div class="col-md-9">

    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="" id="article-header">
        <div class="caption-full">
            <!--<h4 class="pull-right">Article Creator??</h4>-->
            <h3>{{article_description[0][0]}}</h3>
            <p>{{article_description[0][1]}}</p>
        </div>
        
    </div>

</div>
{% endblock %}