<!-----------------------------------------------
NEW_WORLD.HTML
Page for creating a new world
------------------------------------------------>

{% extends "layout.html" %}

{% block content %}
    <script>
        function showDetails() { document.getElementById("collab-fieldset").classList.remove("hidden"); }
        function hideDetails() { document.getElementById("collab-fieldset").classList.add("hidden"); }
    </script>

    <div class="container">
        
        <!-- Jumbotron header -->
        <header class="jumbotron hero-spacer" id="main-header">
            <h1>Create World</h1>
        </header>
        
        <div class="row">
            <div class="col-md-12">
        You're creating a new world! Hope you're as excited as we are! Don't worry too much about naming your world; you can't create identically named worlds that both belong to you, but if you and another both have a world with the same name, there's no problem. Please pick a name for your world, a primary genre, and a short description. Afterwards, you're free to add more details, images, and subgenres.
            </div>
        </div>
      
        <hr>
        
        <!-- Form -->
        <form method="POST" action="/createworld">
            
            <!-- Text input-->
            <div class="row">
                <fieldset class="form-group col-md-6">
                    <label for="world-name">What's your world's name?</label>
                    <input id="world-name" name="world-name" type="text" placeholder="World Name" class="form-control input-md" required="">
                </fieldset>
                    
                <fieldset class="form-group col-md-6">
                    <label for="primary-genre">Which of these genres best fits your world?</label>
                    <select class="form-control input-md" id="primary-genre" name="primary-genre" required="">
                        <option value="" disabled selected>Primary Genre</option>
                        {% for genre in genres %}
                        <option value="{{genre}}">{{genre}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
            </div>
                
            <div class="row">
                <fieldset class="form-group col-md-12">
                    <label for="short-desc">How would you briefly describe your world to others?</label>
                    <textarea id="short-desc" name="short-desc" type="text" placeholder="This world is..." class="form-control input-md" rows=3 required=""></textarea>
                </fieldset>    
            </div>
            
            <div class="row">
                <fieldset class="form-group col-md-3">
                    <label for="privacy">Is this world collaborative?</label>
                      <div class="radio">
                        <label>
                          <input type="radio" name="privacy" onclick="hideDetails()" id="option1" value="solo" checked>
                            No      
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="privacy" onclick="showDetails()" id="option2" value="collab">
                            Yes
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="privacy" onclick="hideDetails()" id="option2" value="private">
                            It's private!
                        </label>
                      </div>
                </fieldset>
                
                <fieldset id="collab-fieldset" class="form-group col-md-9 hidden">
                    <label for="collab-details">Want to add any other users right now?</label>
                    <textarea id="collab-details" name="collab-details" type="text" placeholder="Separate users by commas" rows=3 class="form-control input-md"></textarea>
                </fieldset>
            </div>
            
            <div class="row">
                <fieldset class="form-group col-centered">
                    <button id="create_button" name="create_button" type="submit" class="btn btn-primary">Create!</button>
                </fieldset>
            </div>
            
        </form>
            
    </div>

{% endblock %}