<div class="controller" ng-controller="OnlineController">
    <header class="jumbotron hero-spacer" id="main-header">
        <h1>Welcome!</h1>
    </header>
    
    <!-- Display online users -->
    <div id="online" class="row">
        <div class="col-lg-12">
            <div ng-repeat="user in users">
                <div ng-bind-html="user"></div>
                <!--div class="btn btn-sm onlineUser" ng-bind-html="userPage">
                    <span ng-bind="user.username"></span>&nbsp;
                    <!--span ng-bind="user.location"></span>
                </div-->
            </div>
        </div>
    </div>
    
    <hr>
    
    <!-- Anything else -->
    <div class="row">
        <div class="col-lg-12">
            Motherfucker you are LOGGED IN get ready to hit that MOTHERFUCKIN LIKE
        </div>
    </div>
</div>