<!-----------------------------------------------
INDEX.HTML
Main index. Contains the content of the website's
front page.
2/19/16 Created
------------------------------------------------>

{% extends "layout.html" %}

{% block content %}

    <!--
    <form id="main" ng-submit="locate()"></form>
    <script>document.getElementById('main').submit();</script>
    -->

    <div class="container">
        {% if user['username'] == '' %}
        <header class="jumbotron hero-spacer" id="main-header">
            <h1>Forge Your World</h1>
            <p>Use Hephaestus to organize, draft, and share your worldbuilding ideas.</p>
            <p><a class="btn btn-primary btn-large" href="/signup">Sign Up</a>
            </p>
        </header>
        {% else %}
            {% include "dashboard.html" %}
        {% endif %}
        
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Featured</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row carousel js-flickity"
            data-flickity-options='{ "wrapAround": true, "pageDots": false, "setGallerySize": false, "autoPlay": true}'>
            {% for num in range(5)%}
            <div class="col-md-4 carousel-cell">
                <a href="/world/{{worldID}}">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="/world/{{worldID}}">{{world[0][0][0]}}</a>
                </h3>
                <p>{{world_desc}}</p>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Fantasy</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row carousel js-flickity"
            data-flickity-options='{ "wrapAround": true, "pageDots": false, "setGallerySize": false}'>
            {% for num in range(5)%}
            <div class="col-md-4 carousel-cell">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">World Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Science Fiction</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row carousel js-flickity"
            data-flickity-options='{ "wrapAround": true, "pageDots": false, "setGallerySize": false}'>
            {% for num in range(5)%}
            <div class="col-md-4 carousel-cell">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">World Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            {% endfor %}
        </div>

         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Alternate Universe</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row carousel js-flickity"
            data-flickity-options='{ "wrapAround": true, "pageDots": false, "setGallerySize": false}'>
            {% for num in range(5)%}
            <div class="col-md-4 carousel-cell">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">World Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}