<!-----------------------------------------------
LAYOUT.HTML
Main layout file for Flask. Based on Bare by Start Bootstrap. 
Contains the website navigation and footer.
2/19/16 Created
3/22/16 Added Slick Carousel links 
------------------------------------------------>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hephaestus</title>
    
    <!-- jQuery Version 1.12.1 -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <!-- Flickity -->
    <link href="{{ url_for('static', filename='css/flickity.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/flickity.pkgd.min.js') }}"></script>
    
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
     
</head>

<body>
    <!-- Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog" >
        <form class="form-horizontal" method="GET" action="/login">
        <fieldset>
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Login</h4>
            </div>
            
            <!-- Begin form -->
        
            <div class="modal-body">
                
                <!-- Username input -->
                <div class="form-group row">
                    <div class="col-md-4 col-md-offset-4">
                        <input id="username_login" name="username_login" type="text" placeholder="Username" class="form-control input-md" required="">
                    </div>
                </div>
                
                <!-- Password input-->
                <div class="form-group row">
                    <div class="col-md-4 col-md-offset-4">
                        <input id="password_login" name="password_login" type="password" placeholder="Password" class="form-control input-md" required="">
                    </div>
                </div>  
                
                <!--<p class="col-centered"><a href="/help">Forgot your password?</a></p>-->
                <p class="col-centered"><a href="/signup">Don't have an account? Sign up here!</a></p>
            </div>
                
            <div class="modal-footer col-centered form-group">
                <button id="login_button" name="login_button" type="submit" class="btn btn-primary">Login</button>
            </div>
            
        </div>
        
        </fieldset>
        </form>
    </div>
    </div>
    <!-- End Modal -->

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% include "logo.html" %}
                <!--object data="{{url_for('static', filename='images/logo.svg') }}" type="image/svg+xml" id="svglogo"></object>
                <!--img src="{{url_for('static', filename='images/logo.png') }}" id="logo"-->
                <a class="navbar-brand" href="/">Hephaestus</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Explore</a> <!-- Page to look at and search for the worlds of other users -->
                    </li>
                    <li>
                        <a href="#">Create</a> <!-- Create new world, new article, edit articles, etc. -->
                    </li>
                    <li>
                        <a href="#">Community</a> <!-- Users, discussion topics, recent comments, etc. -->
                    </li>
                    <li>
                        <a href="#">News</a> <!-- Updates, important events, etc. -->
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#loginModal" data-toggle="modal" data-target="#loginModal">Login</a>  <!-- Login modal linked here -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    {% block content %}{% endblock %}
    
    <hr>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2016 Hephaestus</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Slick Carousel JavaScript -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    
    <!-- Carousel row script -->
    <script>
        $(document).ready(function(){
            $('.item-carousel').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: true
            });
        });
    </script>
    
    <!-- Random header image script -->
    <script>
        var images = ['header1.jpg', 'header2.jpg', 'header3.jpg', 'header4.jpg', 'header5.jpg', 'header6.jpg'];
        $('#main-header').css('background-image', 'url(../static/images/header_images/' + images[Math.floor(Math.random() * images.length)] + ')');
    </script>

</body>

</html>
