{% extends "layout.html" %}

{% block content %}

    <div class="container">
        
        <!-- Jumbotron header -->
        <header class="jumbotron hero-spacer" id="main-header">
          <h1>Login</h1>
        </header>
        
        <p>Welcome back! Please log in to continue and let us know if you have any trouble.</p>
        
        <hr>
        
        <!-- Form -->
        <form class="form-horizontal" method="POST" action="/login">
        <fieldset>
          
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-info col-md-4 col-md-offset-4">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                {% for error in errors %}
                  {% if error['type'] == 'database' %}
                    <div class="alert alert-danger col-md-4 col-md-offset-4">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{error['message']}}
                    </div>
                  {% endif %}
                {% endfor %}  
            <!-- Begin form -->
                
                {% for error in errors %}
                  {% if error['type'] == 'username' %}
                    <div class="alert alert-warning col-md-4 col-md-offset-4">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{error['message']}}
                    </div>
                  {% endif %}
                {% endfor %}
                
                <!-- Username input -->
                <div class="form-group row">
                    <div class="col-md-4 col-md-offset-4">
                        <input id="username_login" name="username_login" type="text" placeholder="Username" class="form-control input-md" required="">
                    </div>
                </div>
                
                <!-- Password input-->
                <div class="form-group row">
                    <div class="col-md-4 col-md-offset-4">
                        <input id="password_login" name="password_login" type="password" placeholder="Password" class="form-control input-md" required="">
                    </div>
                </div>  
                
                <!-- used to redirect user to current page -->
                <input name="login_redirect" type="hidden" id="login_redirect" value="{{loginRedirect}}">
                
                <!--<p class="col-centered"><a href="/help">Forgot your password?</a></p>-->
                <p class="col-centered"><a href="/signup">Don't have an account? Sign up here!</a></p>

                <div class="form-group row col-centered">
                    <button id="login_button" name="login_button" type="submit" class="btn btn-primary">Login</button>
                </div>
        
        </fieldset>
        </form>
            
    </div>

{% endblock %}