<!-----------------------------------------------
NEW_CATEGORY.HTML
Page for creating a new category
------------------------------------------------>

{% extends "layout.html" %}

{% block content %}
    <script>
        function showDetails() { document.getElementById("collab-fieldset").classList.remove("hidden"); }
        function hideDetails() { document.getElementById("collab-fieldset").classList.add("hidden"); }
    </script>

    <div class="container">
        
        <!-- Jumbotron header -->
        <header class="jumbotron hero-spacer" id="main-header">
            <h1>Create World</h1>
        </header>
        
        <div class="row">
            <div class="col-md-12">
                Add a new article for something in your world!
            </div>
        </div>
      
        <hr>
        
        {% with messages = get_flashed_messages(category_filter=["database_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger col-md-4 col-md-offset-4">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% with messages = get_flashed_messages(category_filter=["creation_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning col-md-4 col-md-offset-4">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Form -->
        <form method="POST" action="/world/{{worldid}}/{{category}}/newarticle">
            
            <!-- Text input-->
            <div class="row">
                <fieldset class="form-group col-md-6">
                    <label for="category-name">Name of the article:</label>
                    <input id="article-name" name="article-name" type="text" placeholder="Article Name" class="form-control input-md" required="">
                </fieldset>
            </div>
            
            <div class="row">
                <fieldset class="form-group col-md-12">
                    <label for="short-desc">Body of the article:</label>
                    <textarea id="article-body" name="article-body" type="text" placeholder="This article is..." class="form-control input-md" rows=3 required=""></textarea>
                </fieldset>    
            </div>
                
            
            <div class="row">
                <fieldset class="form-group col-centered">
                    <button id="create_button" name="create_button" type="submit" class="btn btn-primary">Create!</button>
                </fieldset>
            </div>
            
        </form>
            
    </div>

{% endblock %}