<!-----------------------------------------------
NEW_CATEGORY.HTML
Page for creating a new category
------------------------------------------------>

{% extends "layout.html" %}

{% block content %}
    <div class="container">
        
        <!-- Jumbotron header -->
        <header class="jumbotron hero-spacer" id="main-header">
            <h1>Create World</h1>
        </header>
        
        <div class="row">
            <div class="col-md-12">
                Add a new category to your world to organize your articles!
            </div>
        </div>
      
        <hr>
        
        {% with messages = get_flashed_messages(category_filter=["database_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger col-md-6 col-md-offset-3">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% with messages = get_flashed_messages(category_filter=["creation_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning col-md-6 col-md-offset-3">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Form -->
        <form method="POST" action="/world/{{worldid}}/newcategory">
            
            <!-- Text input-->
            <div class="row">
                <fieldset class="form-group col-md-6 col-md-offset-3">
                    <label for="category-name">Name of the category:</label>
                    <input id="category-name" name="category-name" type="text" placeholder="Category Name" class="form-control input-md" required="">
                </fieldset>
            </div>
                
            
            <div class="row">
                <fieldset class="form-group col-centered">
                    <button id="create_button" name="create_button" type="submit" class="btn btn-primary">Create!</button>
                </fieldset>
            </div>
            
        </form>
            
    </div>

{% endblock %}