<!-----------------------------------------------
WORLD.HTML
World page template based on templates by Start
Bootstrap. Contains a summary of the world, a navigation
of all available categories/articles for the session user,
and the world summary.
3/22/16 Created
------------------------------------------------>

{% extends "display.html" %}

{% block stuff %}
<div class="col-md-9">
    
    <script>
        $(document).ready(function() {
            $("#activePage").val("World");
        });
    </script>
    
    <div class="thumbnail">
        <img class="img-responsive" src="https://placehold.it/800x300" alt="" id="article-header">
        <div class="caption-full">
            <!--<h4 class="pull-right">Article Creator??</h4>-->
            <h3>{{world_info[0][0][0]}}</h3>
            <p>{{world_description[0][0]}}</p>
        </div>
        
    </div>
</div>
{% endblock %}